
.giphy-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-top: 50px;
  
    iframe {
      display: block;
      pointer-events: none; 
    }
  
}

.xbox{
    justify-content: center;
    margin-left: 295px;
}

  
  