.giphy-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-top: 100px;

    iframe {
      display: block;
      pointer-events: none;
      border: 1px solid black;  
    }
  
    .button {
      --width: 80px;
      --height: 30px;
      --tooltip-height: 35px;
      --tooltip-width: 90px;
      --gap-between-tooltip-to-button: 18px;
      --button-color: #222;
      --tooltip-color: #fff;
  
      width: var(--width);
      height: var(--height);
      background: var(--button-color);
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: center;
      border-radius: 0.45em;
      font-family: "Arial";
      transition: 0.3s;
      cursor: pointer;
  
      &::before {
        position: absolute;
        content: attr(data-tooltip);
        width: var(--tooltip-width);
        height: var(--tooltip-height);
        background-color: #555;
        font-size: 0.9rem;
        color: #fff;
        border-radius: .25em;
        line-height: var(--tooltip-height);
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
        left: calc(50% - var(--tooltip-width) / 2);
      }
  
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #555;
        left: calc(50% - 10px);
        bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
      }
  
      &::after,
      &::before {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
      }
  
      &:hover {
        background: #333;
  
        &::before,
        &::after {
          opacity: 1;
          visibility: visible;
        }
  
        &::after {
          bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
        }
  
        &::before {
          bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
        }
  
        .text {
          top: -100%;
        }
  
        .icon {
          top: 0;
        }
      }
  
      .button-wrapper,
      .text,
      .icon {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        color: #fff;
      }
  
      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        transition: top 0.5s;
      }
  
      .icon {
        color: #fff;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: top 0.5s;
  
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  